/* tasuren's Book - CSS for Global */


/* リセット */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }


/* カラーコードの定義。 */
:root {
  --kikuo: #f8f5f7;
  --maretu: #170000;
}

:root {
  /* ライトテーマ */
  --color: black;
  --background-color: white;
  --background-color-for-code: var(--kikuo);
}

:root[data-theme="dark"] {
  /* ダークテーマ */
  --color: white;
  --background-color: black;
  --background-color-for-code: var(--maretu);
}


/* 一般 */
@media (480px < width) { .sp-only { display: none; } }
@media (480px >= width) { .pc-only { display: none; } }

code {
  background-color: var(--background-color-for-code);
  border-radius: 0.4vh;
  padding: 0.3vh 0.4vh;
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
}

.pointer { cursor: pointer; }