---
import Main from "./Main.astro";
import ThemeToggle from "./ThemeToggle.astro";
---
<style is:global>
  /* レスポンシブ */
  @media (480px >= width) {
    /* スマホ時。 */
    nav { margin: 0 auto; }
    body { padding: 0 1%; }
  }
</style>
<style>
  body {
    background-color: var(--background-color);
    color: var(--color);
  }
</style>
<body>
  <Main><slot /></Main>
  <ThemeToggle />
</body>